{% extends 'bases/base.html' %}
{% block body %}
<div class="container">
  <div class="jumbotron bg2">
    <h1><i class="fa fa-address-book" aria-hidden="true"></i> Contacto</h1>
    <br />
    <div class="panel panel-primary">
      <div class="panel-heading">e-mails/telefonos</div>
      <div class="panel-body">
        <p>
          <b>tomatehk:</b>
          <br />
          <i class="fa fa-2x fa-google text-danger"></i> tomatehk@gmail.com
          <br />
          <br />
          <b>Anderson Victoria:</b>
          <br />
          <i class="fa fa-2x fa-google text-danger"></i> andersonvhk@gmail.com
          <br />
          <i class="fa fa-2x fa-whatsapp text-success"></i> +584147529547
          <br />
          <br />
          <b>Brandom Bermudez:</b>
          <br />
          <i class="fa fa-2x fa-google text-danger"></i> brandomhk@gmail.com
          <br />
          <i class="fa fa-2x fa-whatsapp text-success"></i> +584241489504
          
        </p>
      </div>
    </div>
  </div>
</div>
{% endblock %}