{% extends "bases/base.html" %}
{% block body %}
    <div class="container">
        <div class="jumbotron text-center bg2">
            <h1>Ventory Os <i class="fa fa-industry"></i></h1>
            <br />
            <div class="row">
                <div class="col-md-4">
                    <h1><i class="fa fa-bar-chart"></i></h1>
                    <h2>Controla tus ventas</h2>
                </div>
                <div class="col-md-4">
                    <h1 class=""><i class="fa fa-industry img-circle"></i></h1>
                    <h2>Controla tu inventario</h2>
                </div>
                <div class="col-md-4">
                    <h1 class=""><i class="fa fa-money"> </i></h1>
                    <h2>Mantiene tu dinero al dia</h2>
                </div>
            </div>
        </div>
    </div>
    <br />
    <br />
    <br />
{% endblock %}